@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Bahnschrift';
    src: url('/font/BAHNSCHRIFT.TTF') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
}
